wsdl/ServiceSCA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="ServiceSCA" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://scanewwsdev.bbs.bayer.br.intranet/ServiceSCA.svc?xsd=xsd0" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="http://scanewwsdev.bbs.bayer.br.intranet/ServiceSCA.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
      <xsd:import schemaLocation="http://scanewwsdev.bbs.bayer.br.intranet/ServiceSCA.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Bayer.sca.Model"/>
      <xsd:import schemaLocation="http://scanewwsdev.bbs.bayer.br.intranet/ServiceSCA.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Bayer.sca.Common"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceSCA_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_LoginWC_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginWC"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_LoginWC_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginWCResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_LoginSSO_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginSSO"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_LoginSSO_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginSSOResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_CheckSystemSSO_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSystemSSO"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_CheckSystemSSO_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSystemSSOResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_Renew_InputMessage">
    <wsdl:part name="parameters" element="tns:Renew"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_Renew_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenewResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_SimpleLogout_InputMessage">
    <wsdl:part name="parameters" element="tns:SimpleLogout"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_SimpleLogout_OutputMessage">
    <wsdl:part name="parameters" element="tns:SimpleLogoutResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_AlterPasswordNE_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterPasswordNE"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_AlterPasswordNE_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterPasswordNEResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_AlterPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterPassword"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_AlterPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GetConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetConnection"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GetConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GetParametersSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParametersSystem"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GetParametersSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetParametersSystemResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_CheckUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserProfile"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_CheckUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserProfileResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_ValidateSession_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSession"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_ValidateSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateSessionResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_ForgotmyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ForgotmyPassword"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_ForgotmyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForgotmyPasswordResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_NewUserRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:NewUserRequest"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_NewUserRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewUserRequestResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_RemoveUserAccess_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserAccess"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_RemoveUserAccess_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserAccessResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GetSCASystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSCASystem"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GetSCASystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSCASystemResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_HasSystemComKey_InputMessage">
    <wsdl:part name="parameters" element="tns:HasSystemComKey"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_HasSystemComKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:HasSystemComKeyResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GrantSCASystem_InputMessage">
    <wsdl:part name="parameters" element="tns:GrantSCASystem"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_GrantSCASystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GrantSCASystemResponse"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_RemoveProfileSCASystem_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProfileSCASystem"/>
  </wsdl:message>
  <wsdl:message name="IServiceSCA_RemoveProfileSCASystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveProfileSCASystemResponse"/>
  </wsdl:message>
  <wsdl:portType name="IServiceSCA">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/Login" message="tns:IServiceSCA_Login_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/LoginResponse" message="tns:IServiceSCA_Login_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="LoginWC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/LoginWC" message="tns:IServiceSCA_LoginWC_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/LoginWCResponse" message="tns:IServiceSCA_LoginWC_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="LoginSSO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/LoginSSO" message="tns:IServiceSCA_LoginSSO_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/LoginSSOResponse" message="tns:IServiceSCA_LoginSSO_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CheckSystemSSO">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/CheckSystemSSO" message="tns:IServiceSCA_CheckSystemSSO_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/CheckSystemSSOResponse" message="tns:IServiceSCA_CheckSystemSSO_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Renew">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/Renew" message="tns:IServiceSCA_Renew_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/RenewResponse" message="tns:IServiceSCA_Renew_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/Logout" message="tns:IServiceSCA_Logout_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/LogoutResponse" message="tns:IServiceSCA_Logout_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="SimpleLogout">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/SimpleLogout" message="tns:IServiceSCA_SimpleLogout_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/SimpleLogoutResponse" message="tns:IServiceSCA_SimpleLogout_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AlterPasswordNE">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/AlterPasswordNE" message="tns:IServiceSCA_AlterPasswordNE_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/AlterPasswordNEResponse" message="tns:IServiceSCA_AlterPasswordNE_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AlterPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/AlterPassword" message="tns:IServiceSCA_AlterPassword_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/AlterPasswordResponse" message="tns:IServiceSCA_AlterPassword_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/GetConnection" message="tns:IServiceSCA_GetConnection_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/GetConnectionResponse" message="tns:IServiceSCA_GetConnection_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetParametersSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/GetParametersSystem" message="tns:IServiceSCA_GetParametersSystem_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/GetParametersSystemResponse" message="tns:IServiceSCA_GetParametersSystem_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CheckUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/CheckUserProfile" message="tns:IServiceSCA_CheckUserProfile_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/CheckUserProfileResponse" message="tns:IServiceSCA_CheckUserProfile_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/ValidateSession" message="tns:IServiceSCA_ValidateSession_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/ValidateSessionResponse" message="tns:IServiceSCA_ValidateSession_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ForgotmyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/ForgotmyPassword" message="tns:IServiceSCA_ForgotmyPassword_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/ForgotmyPasswordResponse" message="tns:IServiceSCA_ForgotmyPassword_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="NewUserRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/NewUserRequest" message="tns:IServiceSCA_NewUserRequest_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/NewUserRequestResponse" message="tns:IServiceSCA_NewUserRequest_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAccess">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/RemoveUserAccess" message="tns:IServiceSCA_RemoveUserAccess_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/RemoveUserAccessResponse" message="tns:IServiceSCA_RemoveUserAccess_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GetSCASystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/GetSCASystem" message="tns:IServiceSCA_GetSCASystem_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/GetSCASystemResponse" message="tns:IServiceSCA_GetSCASystem_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="HasSystemComKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/HasSystemComKey" message="tns:IServiceSCA_HasSystemComKey_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/HasSystemComKeyResponse" message="tns:IServiceSCA_HasSystemComKey_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="GrantSCASystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/GrantSCASystem" message="tns:IServiceSCA_GrantSCASystem_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/GrantSCASystemResponse" message="tns:IServiceSCA_GrantSCASystem_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RemoveProfileSCASystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceSCA/RemoveProfileSCASystem" message="tns:IServiceSCA_RemoveProfileSCASystem_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceSCA/RemoveProfileSCASystemResponse" message="tns:IServiceSCA_RemoveProfileSCASystem_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceSCA" type="tns:IServiceSCA">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/Login" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginWC">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/LoginWC" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginSSO">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/LoginSSO" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSystemSSO">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/CheckSystemSSO" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Renew">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/Renew" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/Logout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SimpleLogout">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/SimpleLogout" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterPasswordNE">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/AlterPasswordNE" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/AlterPassword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetConnection">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/GetConnection" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParametersSystem">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/GetParametersSystem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUserProfile">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/CheckUserProfile" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/ValidateSession" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ForgotmyPassword">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/ForgotmyPassword" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewUserRequest">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/NewUserRequest" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAccess">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/RemoveUserAccess" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSCASystem">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/GetSCASystem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasSystemComKey">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/HasSystemComKey" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GrantSCASystem">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/GrantSCASystem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveProfileSCASystem">
      <soap:operation soapAction="http://tempuri.org/IServiceSCA/RemoveProfileSCASystem" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSCA">
    <wsdl:port name="BasicHttpBinding_IServiceSCA" binding="tns:BasicHttpBinding_IServiceSCA">
      <soap:address location="http://scanewwsdev.bbs.bayer.br.intranet/ServiceSCA.svc"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>